{{ id }}
<div class = "card">

<div class = "card-body">
<div>
    {{> buttons
    type="success"
    message="Buscar"
    nativeType="subtmi"}}

    <h1>Resumen</h1>
</div>

<div class="text-center">
    <h1>Nombre de la encuesta</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste quisquam optio distinctio eligendi perspiciatis
        voluptas cupiditate mollitia illo? Perspiciatis quam vero at, recusandae quaerat facilis incidunt iure obcaecati
        vel!</p>

    <h2>Nombre de la sección 1</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias dolores odit optio, sunt ut eos modi vitae
        repudiandae quam doloribus architecto minima, voluptatum dicta amet, voluptates fugiat eveniet rerum reiciendis.
    </p>

</div>


<ol>

    <li>¿Esta es la pregunta 1?</li>
    <ul style="list-style-type:none;">

        <li>Respuesta 1</li>
        <li>Respuesta 2</li>
        <li>Respuesta 3</li>

    </ul>
    <li>¿Esta es la pregunta 2?</li>

</ol>

</div>


</div>
