{{ id }}
<div class = "card" style="marging: -60px; margin-left: -170px; margin-right: -170px;">

<div class = "card-body">
<div class = "relative" style = "height: 50px;">

    <div class = "float-start">
        <h3>Resumen</h3>
    </div>

    <div  class  = "float-end">
        {{> buttons 
            type="success"
            message="Exportar"
            nativeType="subtmi"}}
    </div>
     
</div>

<div class="text-center">
    <h1>Nombre de la encuesta</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste quisquam optio distinctio eligendi perspiciatis
        voluptas cupiditate mollitia illo? Perspiciatis quam vero at, recusandae quaerat facilis incidunt iure obcaecati
        vel!</p>
        <br><br>

    <h3>Nombre de la sección 1</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias dolores odit optio, sunt ut eos modi vitae
        repudiandae quam doloribus architecto minima, voluptatum dicta amet, voluptates fugiat eveniet rerum reiciendis.
        <br><br>
    </p>

</div>


<ol>

    <li style="font-weight:bold;">¿Esta es la pregunta 1?</li>
    <ul style="list-style-type:none; margin: 10px;">

        <li style="margin: 20px; margin-left: -40px;">Respuesta 1</li>
        <li style="margin: 20px; margin-left: -40px;">Respuesta 2</li>
        <li style="margin: 20px; margin-left: -40px;">Respuesta 3</li>

    </ul>
    <li style="font-weight:bold;">¿Esta es la pregunta 2?</li>

</ol>

<div class="chart-container" style="position: relative; left: 80px; height:300px; width:300px">
    
  <canvas id="myChart"></canvas>
  
</div>

<script>
    Chart.defaults.font.size = 20;
const data = {
  labels: [
    'Respuesta 1',
    'Respuesta 2',
    'Respuesta 3',
  ],
  
  datasets: [{
    label: 'Mi primer conjunto de datos',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(220, 33, 64)',
      'rgb(76, 33, 218)',
      'rgb(255, 165, 0)'
    ],
    hoverOffset: 4
  }]
};</script>

<script>
    const config = {
  type: 'pie',
  data: data,

};
</script>
<script>
    module.exports = {
  actions: [],
  config: config,
};
</script>


    <script>
        
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
      
    );
  </script>

</div>


</div>
